@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#galleryTitle {
  font-family: "yg-jalnan";
  font-size: 45px;
  margin-left: 10%;
  padding-top: 50px;
  margin-bottom: 10px;
}

.tableArea {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 75%;
  font-size: 13px;
  height: 400px;
  overflow: auto;
}

.tableArea table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.tableArea table thead {
  font-weight: bold;
  padding: 10px;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

.tableArea table tr {
  border: 1px solid black;
  line-height: 3rem;
}
.tableArea table tbody tr:hover {
  background-color: lightsteelblue;
}

.tableArea table tbody td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.buttons {
  display: flex;
  float: right;
  margin-right: 10%;
  margin-bottom: 20px;
}

.deleteBtn button {
  background-color: #fefefe;
  color: #000080;
  border-color: #000080;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  align-items: center;
  margin-right: 50px;
}

.downloadBtn button {
  margin-right: 30px;
  background-color: #fefefe;
  color: #000080;
  border-color: #000080;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  align-items: center;
}
